html {
  /* prevents padding from adding extra width so we don't get horizontal scoll */
  box-sizing: border-box;
}

body {
  margin: 0;
  /* below makes sure page takes up entire screen even if content doesn't */
  min-height: 100vh;
  /* background-color: dodgerblue */
} 